*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
}
/* Throughout the website start*/
.btn{
    font-size: 20px;
    font-weight: 700;
    border: #E55473;
    border-radius: 8px;
    background: #E55473;
    color: white;
    padding: 20px 40px;
    }
.btn:hover{
    background-color: #9b243e;
    transition: 1s;
}
.section-content{

}
.section-content h2{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
.section-content p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* Throughout the website end*/

/* Header Start */
header{
    width: 100%;
    height: 750px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.head-content-area{
    width: 708px;
    /* margin-left: 240px; */
}
.head-content-area h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.head-content-area p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}
.head-img img{
    width: 600px;
    height: 750px;
}
/* Header End */

/*main section*/
.main{
    max-width: 1185px;
    margin: 0 auto;
    
}

/* featured flowers section start */
.featured-flowers{
    margin-top: 150px;
}
.featured-flowers .image-containers{
    display: flex;
    justify-content: space-between;
}
/* image containers */
.image-containers .img{
    width: 310px;
    height: 428px;
    text-align: center;
}
.img-sub{
    width: 310px;
    height: 400px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.image-containers .img a{
    color: #272727;
    font-size: 20px;
    font-weight: 700;
}
/* featured flowers section end */

/* Service section start */
.service-section{
    height: 270px;
    border: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.services p{
    color: rgba(39, 39, 39, 0.80);
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
}
/* Service section end */

/* Hot Deal Section Start */
.hot-deal{
    height: 510px;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hotdeal-content h2{
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 20px;
}
.hot-deal .hotdeal-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* Hot Deal Section end */

/* Instagram Section start */
.instagram-section{
    margin-top: 150px;
}
.instagram-images{
    display: flex;
    justify-content: space-between;
}
.instagram-images img{
    width: 285px;
    height: 320px;
}
/* Instagram Section end */

/* frequently asked questions start */
.faq-section{
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 150px;
    padding: 40px 0;
  
}
.questions-container{

}
.questions-container{
    display: flex;
    justify-content: space-evenly;
}
.ques-container p{
    background-color: rgb(255, 255, 255);
    border: 2px solid #E55473;
    margin: 15px 0;
    padding: 10px;
}
/* frequently asked questions end */

/* Get Deal Section Start */
.get-laestdeals-section{
    margin-top: 150px;
    border-radius: 5px;
    height: 370px;
    background-image: url("Flower\ Asset/Rectangle 9.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get-laestdeals-section .section-content input{
    padding: 23px 500px 22px 22px;
    border: 0 solid white;
    border-radius: 8px;
    margin-right: 10px;
}
/* Get Deal Section End */

/* Footer Section*/
footer{
    height: 360px;
    background: #111010;
    color: white;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.footer-content h2{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}
.footer-content p{
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
}
#copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
    font-weight: 300;
}